@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 200, 200, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefer-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 20, 20, 40;
		--background-end-rgb: 40, 40, 60;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb)),
		)
		rgb(var(--background-start-rgb));
}
